{% extends 'base.html' %}

{% block meta %}
<title>Todolist {{ username }}</title>
<style>
  #card:hover{
    transform: scale(1.03);
    transition-timing-function: ease;
    transition: 0.2s;
  }
</style>
<head>
  <script>
    $(document).ready(function () {
      $.get("{% url 'todolist:show_json' %}", function (data) {
        console.log(data.sort((a) => (a.fields.is_finished) ? 1 : -1))
        $.each(data, function(index, value) {
          let status = value.fields.is_finished ? `<a class="btn btn-success" href="/todolist/update/${value.pk}">
                          Selesai
                        </a>`: `<a class="btn btn-warning" href="/todolist/update/${value.pk}">
                          Belum selesai
                        </a>`
          $(".card-container").append (
            `
            <div class="col" >
              <div class="card h-100 hoverable" id="card" style="min-width: 200px">
                <div class="card-body d-flex justify-content-between flex-column">
                  <div class="main-item">
                    <h4 class="card-title">${value.fields.title}</h4>
                    <p class="card-subtitle mb-2 text-muted">${value.fields.description}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Deadline: ${value.fields.deadline.split("-")[2]+"-"+value.fields.deadline.split("-")[1]+"-"+value.fields.deadline.split("-")[0]}</h6>
                  </div>
                  <div class="row row-cols-1 row-cols-md-1 g-1">
  
                    <div class="col">
                      ${status}
                    </div>
  
                    <div class="col">
  
                      <a class="btn btn-danger" href="/todolist/delete/${value.pk}">Hapus Task</a>
                    </div>
                    
                  </div>
            
  
                </div>
                <div class="card-footer">
                  <small class="text-muted">created at: ${value.fields.date.split("T")[0].split("-")[2]+"-"+value.fields.date.split("T")[0].split("-")[1]+"-"+value.fields.date.split("T")[0].split("-")[0]}</small>
                </div>
              </div>
            </div>
            `
          );
        });
      });

      $("#tambahTask").click(function(){
        const judul = $("#judul").val();
        const deskripsi = $("#deskripsi").val();
        const deadline = $("#deadline").val();
        const data = {judul: judul, deskripsi: deskripsi, deadline:deadline, csrfmiddlewaretoken: '{{ csrf_token }}'};
        $.ajax({url: "/todolist/add/", data: data, method: "POST"}).done(function (resp) {
          $(".card-container").append (
            `
            <div class="col" >
              <div class="card h-100 hoverable" id="card" style="min-width: 200px">
                <div class="card-body d-flex justify-content-between flex-column">
                  <div class="main-item">
                    <h4 class="card-t itle">${judul}</h4>
                    <p class="card-subtitle mb-2 text-muted">${deskripsi}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Deadline: ${deadline.split("-")[2]+"-"+deadline.split("-")[1]+"-"+deadline.split("-")[0]}</h6>
                  </div>
                  <div class="row row-cols-1 row-cols-md-1 g-1">
  
                    <div class="col">
                        <a class="btn btn-warning" href="/todolist/update/${resp.pk}">
                          Belum selesai
                        </a>
                    </div>
  
                    <div class="col">
  
                      <a class="btn btn-danger" href="/todolist/delete/${resp.pk}">Hapus Task</a>
                    </div>
                    
                  </div>
            
  
                </div>
                <div class="card-footer">
                  <small class="text-muted">created at: ${resp.fields.date.split("T")[0].split("-")[2]+"-"+resp.fields.date.split("T")[0].split("-")[1]+"-"+resp.fields.date.split("T")[0].split("-")[0]}</small>
                </div>
              </div>
            </div>
            `
          );
        })
      });

      
      $("#deadlinectn").click(function(){
        document.getElementsByClassName("card-container").innerHTML = "";
        $.get("{% url 'todolist:show_json' %}", function (data) {
        console.log( data.sort(function(a,b){return a.fields.deadline - b.fields.deadline}))
        $.each(data, function(index, value) {
          let status = value.fields.is_finished ? `<a class="btn btn-success" href="/todolist/update/${value.pk}">
                          Selesai
                        </a>`: `<a class="btn btn-warning" href="/todolist/update/${value.pk}">
                          Belum selesai
                        </a>`
          $(".card-container").append (
            `
            <div class="col" >
              <div class="card h-100 hoverable" id="card" style="min-width: 200px">
                <div class="card-body d-flex justify-content-between flex-column">
                  <div class="main-item">
                    <h4 class="card-title">${value.fields.title}</h4>
                    <p class="card-subtitle mb-2 text-muted">${value.fields.description}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Deadline: ${value.fields.deadline.split("-")[2]+"-"+value.fields.deadline.split("-")[1]+"-"+value.fields.deadline.split("-")[0]}</h6>
                  </div>
                  <div class="row row-cols-1 row-cols-md-1 g-1">
  
                    <div class="col">
                      ${status}
                    </div>
  
                    <div class="col">
  
                      <a class="btn btn-danger" href="/todolist/delete/${value.pk}">Hapus Task</a>
                    </div>
                    
                  </div>
            
  
                </div>
                <div class="card-footer">
                  <small class="text-muted">created at: ${value.fields.date.split("T")[0].split("-")[2]+"-"+value.fields.date.split("T")[0].split("-")[1]+"-"+value.fields.date.split("T")[0].split("-")[0]}</small>
                </div>
              </div>
            </div>
            `
          );
        });
      });
      $(".card-container").html("");
      });

      $("#deadlineftn").click(function(){
        document.getElementsByClassName("card-container").innerHTML = "";
        $.get("{% url 'todolist:show_json' %}", function (data) {
        console.log( data.sort(function(a,b){return a.fields.deadline - b.fields.deadline ? 1 : -1}))
        $.each(data, function(index, value) {
          let status = value.fields.is_finished ? `<a class="btn btn-success" href="/todolist/update/${value.pk}">
                          Selesai
                        </a>`: `<a class="btn btn-warning" href="/todolist/update/${value.pk}">
                          Belum selesai
                        </a>`
          $(".card-container").append (
            `
            <div class="col" >
              <div class="card h-100 hoverable" id="card" style="min-width: 200px">
                <div class="card-body d-flex justify-content-between flex-column">
                  <div class="main-item">
                    <h4 class="card-title">${value.fields.title}</h4>
                    <p class="card-subtitle mb-2 text-muted">${value.fields.description}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Deadline: ${value.fields.deadline.split("-")[2]+"-"+value.fields.deadline.split("-")[1]+"-"+value.fields.deadline.split("-")[0]}</h6>
                  </div>
                  <div class="row row-cols-1 row-cols-md-1 g-1">
  
                    <div class="col">
                      ${status}
                    </div>
  
                    <div class="col">
  
                      <a class="btn btn-danger" href="/todolist/delete/${value.pk}">Hapus Task</a>
                    </div>
                    
                  </div>
            
  
                </div>
                <div class="card-footer">
                  <small class="text-muted">created at: ${value.fields.date.split("T")[0].split("-")[2]+"-"+value.fields.date.split("T")[0].split("-")[1]+"-"+value.fields.date.split("T")[0].split("-")[0]}</small>
                </div>
              </div>
            </div>
            `
          );
        });
      });
      $(".card-container").html("");
      });

      $("#ztoa").click(function(){
        document.getElementsByClassName("card-container").innerHTML = "";
        $.get("{% url 'todolist:show_json' %}", function (data) {
        console.log( data.sort(function(a,b){return a.fields.judul > b.fields.judul ? 1 : -1}))
        $.each(data, function(index, value) {
          let status = value.fields.is_finished ? `<a class="btn btn-success" href="/todolist/update/${value.pk}">
                          Selesai
                        </a>`: `<a class="btn btn-warning" href="/todolist/update/${value.pk}">
                          Belum selesai
                        </a>`
          $(".card-container").append (
            `
            <div class="col" >
              <div class="card h-100 hoverable" id="card" style="min-width: 200px">
                <div class="card-body d-flex justify-content-between flex-column">
                  <div class="main-item">
                    <h4 class="card-title">${value.fields.title}</h4>
                    <p class="card-subtitle mb-2 text-muted">${value.fields.description}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Deadline: ${value.fields.deadline.split("-")[2]+"-"+value.fields.deadline.split("-")[1]+"-"+value.fields.deadline.split("-")[0]}</h6>
                  </div>
                  <div class="row row-cols-1 row-cols-md-1 g-1">
  
                    <div class="col">
                      ${status}
                    </div>
  
                    <div class="col">
  
                      <a class="btn btn-danger" href="/todolist/delete/${value.pk}">Hapus Task</a>
                    </div>
                    
                  </div>
            
  
                </div>
                <div class="card-footer">
                  <small class="text-muted">created at: ${value.fields.date.split("T")[0].split("-")[2]+"-"+value.fields.date.split("T")[0].split("-")[1]+"-"+value.fields.date.split("T")[0].split("-")[0]}</small>
                </div>
              </div>
            </div>
            `
          );
        });
      });
      $(".card-container").html("");
      });

      $("#atoz").click(function(){
        document.getElementsByClassName("card-container").innerHTML = "";
        $.get("{% url 'todolist:show_json' %}", function (data) {
        console.log( data.sort(function(a,b){return a.fields.judul > b.fields.judul}))
        $.each(data, function(index, value) {
          let status = value.fields.is_finished ? `<a class="btn btn-success" href="/todolist/update/${value.pk}">
                          Selesai
                        </a>`: `<a class="btn btn-warning" href="/todolist/update/${value.pk}">
                          Belum selesai
                        </a>`
          $(".card-container").append (
            `
            <div class="col" >
              <div class="card h-100 hoverable" id="card" style="min-width: 200px">
                <div class="card-body d-flex justify-content-between flex-column">
                  <div class="main-item">
                    <h4 class="card-title">${value.fields.title}</h4>
                    <p class="card-subtitle mb-2 text-muted">${value.fields.description}</p>
                    <h6 class="card-subtitle mb-2 text-muted">Deadline: ${value.fields.deadline.split("-")[2]+"-"+value.fields.deadline.split("-")[1]+"-"+value.fields.deadline.split("-")[0]}</h6>
                  </div>
                  <div class="row row-cols-1 row-cols-md-1 g-1">
  
                    <div class="col">
                      ${status}
                    </div>
  
                    <div class="col">
  
                      <a class="btn btn-danger" href="/todolist/delete/${value.pk}">Hapus Task</a>
                    </div>
                    
                  </div>
            
  
                </div>
                <div class="card-footer">
                  <small class="text-muted">created at: ${value.fields.date.split("T")[0].split("-")[2]+"-"+value.fields.date.split("T")[0].split("-")[1]+"-"+value.fields.date.split("T")[0].split("-")[0]}</small>
                </div>
              </div>
            </div>
            `
          );
        });
      });
      $(".card-container").html("");
      });
    });
  </script>
</head>
{% endblock meta %}

{% block content %}



  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MyToDoList</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="btn btn-danger" href="{% url 'todolist:logout' %}">Logout</a>
        </div>

      </div>
    </div>
  </nav>
<h1 style="margin-bottom: 32px; margin-top: 32px;">Welcome back, {{ username }}!</h1>

<div class="d-flex mw-100 justify-content-evenly flex-wrap" style="gap: 6px; margin-bottom: 32px; width: 500px"> 

  
  <a class="btn btn-primary" href="{% url 'todolist:show_xml' %}">xml</a>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal" data-bs-whatever="@mdo">Tambah task baru</button>
  
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
    Urutkan berdasarkan:
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#" id="atoz">Nama Task (A-Z)</a></li>
    <li><a class="dropdown-item" href="#" id="ztoa">Nama Task (Z-A)</a></li>
    <li><a class="dropdown-item" href="#" id="deadlinectn">Deadline (closest to now)</a></li>
    <li><a class="dropdown-item" href="#" id="deadlineftn">Deadline (farthest to now)</a></li>
  </ul>
</div>


<div class="row row-cols-1 row-cols-md-4 g-4 card-container" >
  
</div>
<!-- # MODAL -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tambah Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" onsubmit="return false">
          {% csrf_token %}
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Judul Task</label>
            <input type="text" class="form-control" id="judul">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Deskripsi Task</label>
            <textarea class="form-control" id="deskripsi"></textarea>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Deadline</label>
            <input type="date" class="form-control" id="deadline" name="deadline">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="tambahTask">Tambah</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock content %}